node_modules/
.next/
out/
.env.local
*.log
tools/*/node_modules/
tools/*/.git/
tools/scanner/MobSF/
tools/scanner/vulhub/
tools/scanner/n8n-CyberSecurity-Workflows/
tools/network/scapy/
tools/network/Dedsec-Wifi-Troll/
tools/network/DEDSEC-ADB/
tools/ai-tools/HackTricks/
tools/ai-tools/Dify/
tools/exploits/promptfoo/
lobe-chat/
GPT-SoVITS/
LibreChat/
MetaGPT/
gpt-researcher/
gpt4free/
nanoGPT/
upload/
download/
*.tar.gz
